.all_container {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.edit_page {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}

h1 {
    font-size: 24px;
    margin: 0;
    padding: 0 10px;
    background-color: white;
    position: relative;
    z-index: 1;
}

.title_divider {
    border: 0;
    height: 2px;
    background-color: black;
    width: 100%;
    margin-top: 20px;
}

input {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 8px;
    box-sizing: border-box;
}

input[type="button"] {
    width: auto;
    margin: 15px auto;
    padding: 10px 20px;
    background-color:rgb(148, 148, 249);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.add_button{
    width: auto;
    margin: 15px auto;
    padding: 10px 20px;
    background-color:rgb(148, 148, 249);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

input[type="button"]:hover {
    background-color: rgb(148, 148, 249);
}

.table_container {
    display: block;
    justify-content: center;
    margin-bottom: 10px;
}
.table_container > div {
    margin-bottom: 10px;
}


.link_table {
    width: 100%;
    border-collapse: collapse;
}

.link_table td {
    padding: 8px;
}

.checkbox_container {
    display: flex;
    align-items: center;
    white-space: nowrap;

}
.select_box{
    width: 200px;
    padding: .8em .5em;
    font-family: inherit;
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
    border: 1px solid #999;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
